{{- with .cxt}}
{{- $image := .Page.Resources.GetMatch .Params.banner | fingerprint -}}
{{- $tinyImage := $image.Resize "148x" -}}
{{- $smallImage := cond (ge $image.Width "295") ($image.Resize "295x") $image -}}
{{- $fitImage := cond (ge $image.Width "512") ($image.Resize "512x") $image -}}
<figure>
    <img{{ with $.loading }} loading="{{ . }}"{{ end }} src="{{ $image.RelPermalink }}"
         alt="{{ .Title }} banner"
         srcset='
            {{- if ge $image.Width "148" -}}
              {{ $tinyImage.RelPermalink }} 148w
            {{- end -}}
            {{- if ge $image.Width "295" -}}
              , {{ $smallImage.RelPermalink }} 295w
            {{- end -}}
            {{- if ge $image.Width "512" -}}
              , {{ $fitImage.RelPermalink }} 512w
            {{- else -}}
              , {{ $image.RelPermalink}} {{ $image.Width}}w 
            {{- end -}}
         '
         sizes='(max-width: 180px) 148px
                {{- if ge $image.Width "295" -}}
                  , (max-width: 320px) 295px
                {{- end -}}
                {{- if ge $image.Width "512" -}}
                  , 512px
                {{- else -}}
                  , {{ $image.Width}}px
                {{- end -}}
                '
        width="{{ $image.Width }}"
        height="{{ $image.Height }}"
    />
</figure>
{{- end -}}{{/* End context */}}