    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ $apple := resources.Get "icons/apple-touch-icon.png" | fingerprint }}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ $apple.RelPermalink}}">

    {{ $fav32 := resources.Get "icons/favicon-32x32.png" | fingerprint }}
    <link rel="icon" type="image/png" sizes="32x32" href="{{ $fav32.RelPermalink }}">

    {{ $fav16 := resources.Get "icons/favicon-16x16.png" | fingerprint }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ $fav16.RelPermalink }}">
